@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@700&display=swap');
 @import url('https://fonts.cdnfonts.com/css/satoshi');

@import "tailwindcss";

:root {
  --background: black;
  --foreground: #ffffff;
  --gradient-fire: linear-gradient(135deg, hsl(15, 100%, 55%) 0%, hsl(5, 85%, 50%) 50%, hsl(350, 90%, 45%) 100%);
  --gradient-tech: linear-gradient(135deg, hsl(230 35% 15%) 0%, hsl(260 70% 60%) 100%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Satoshi", "Inter", sans-serif;
}

p{
  color: #abb1ba;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

@media screen and (max-width: 1100px) {
  .navbar {
    padding: 0 ;
  }
}

.halant-bold {
  font-family: "Halant", serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-enter-right {
  animation: slideInRight 0.4s ease-out forwards;
}

.animate-leave-right {
  animation: slideOutRight 0.3s ease-in forwards;
}




/* Move swiper pagination below cards */
.swiper-pagination {
  position: relative !important; /* don't overlap */
  margin-top: 1rem !important;   /* push it below cards */
  text-align: center;
}

/* Style the bullets */
.swiper-pagination-bullet {
  background-color: #ff531a !important; /* orange */
  opacity: 0.5;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff531a !important;
  opacity: 1;
}

